.form-grid {
  width: 100%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 1rem;
}
.store-img {
  align-self: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: grey;
  opacity: 50%;
}
