.box-container {
  cursor: pointer;
  padding: 1rem;
  margin: 10px;
  border: solid 1px #9393939d;
  width: 100%;
  max-width: 300px;
  height: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
#total-textsize,
#unit-textsize {
  font-size: 1.5rem;
  font-weight: 500;
}

.type-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
// .see-more {
//   background-color: #eaeffd;
//   padding: 20px;
//   display: flex;
//   width: 100%;
//   justify-content: space-between;
//   border-radius: 0 0 10px 10px;
// }
.see-more:hover {
  background-color: #c5cce172;
  color: #ffffff;
  transition: 0.3s;
}
.type-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1080px) {
  .box-container {
    max-width: 100%;
  }
}
@media (max-width: 479px) {
  /* Styles for mobile phones */
  .box-container {
    display: block;
    cursor: pointer;
    padding-top: 0;
    padding-left: 1rem;
    font-size: 0.9rem;
    margin: 0px;
    border: solid 1px #eaeffd;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 1.4rem;
    background-color: #f4f7ff;
  }
  .type-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .see-more {
    display: none;
  }
  .type-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
  }
}
