.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
}

.bar-header {
  width: fit-content;
}
.bar-element {
  width: 100px;
}
.chart-container-week {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 500px;
}
.bar-wrapper {
  width: 100%;
}
.grid-layout-bar {
  display: grid;
  grid-template-rows: repeat(0.1fr, auto);
}
@media (max-width: 479px) {
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 300px;
  }
  .chart-container-week {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 220px;
  }
}
@media (min-width: 859) {
  .chart-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 300px;
  }
  .bar-wrapper {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .chart-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 300px;
  }
  .bar-wrapper {
    display: none;
  }
}
