@font-face {
  font-family: "Prompt-Regular";
  src: local("PromptRegular") url("/fonts/Prompt-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Prompt-Bold";
  src: local("PromptBold") url("/fonts/Prompt-Bold.ttf") format("truetype");
}
